.leaf {
    height: 14px;
    margin-right: 6px;
    white-space: nowrap;
}
.googlelogo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    float: left;
  }
  
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }